<div class="footer">
    <div class="container">
        <div class="left">
            <ul>
                <li>广东省xxxxxxxx有限公司 版权所有</li>
                <li>电话号码：400-0000-000</li>
                <li>公司邮箱：xxxxxxxx@xxxxxx.com</li>
                <li>公司地址：xxxx市xxxxxx街xx号xx大厦xx楼</li>
            </ul>
            <ul class="last">
                <li>xICP备xxxxxxxxxxxx号-1</li>
                <li>传真号码：0760-0000-0000</li>
                <li>网站制作：xxxxxxxxxxxx</li>
            </ul>
        </div>
        <div class="right">
            <div class="box">
                <h2>关注我们</h2>
                <div class="img">
                    <img src="./public/images/erweima.jpg" alt="">
                </div>
                <p>关注官方微信</p>
            </div>
        </div>
    </div>
</div>