<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工程案例</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_810759_9zqju97jbdq.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <script src="./public/scripts/jquery.min.js"></script>
</head>

<body>
    @@include('./include/header.html')
    <div class="banner">
        <img src="./public/images/banner.jpg" alt="">
    </div>
    <div class="container">
        <div class="details">
            <div class="dtl">
                <h1 class="title"></h1>
                <div class="sm">
                    <span>来源：
                        <em class="source"></em>
                    </span>
                    <span>作者：
                        <em class="author"></em>
                    </span>
                    <span>浏览：
                        <em class="flowNum"></em>
                    </span>
                    <span>发布日期：
                        <em class="date"></em>
                    </span>
                </div>
            </div>
            <div class="content">

            </div>
            <div class="btnsn">
                <div class="prev">
                    <a href="javascript:void(0)">
                        <span>上一篇：</span> 已经是第一篇了</a>
                </div>
                <div class="next">
                    <a href="javascript:void(0)">
                        <span>下一篇：</span> 已经是最后一篇了</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="box">
                <h2>相关科普动态</h2>
                <ul id="xgnews">

                </ul>
            </div>
            <div class="box">
                <h2>优秀工程案例</h2>
                <ul id="yxgcal">

                </ul>
            </div>
        </div>
    </div>
    @@include('./include/footer.html')
</body>
<script src="./public/scripts/scripts.js"></script>
<script>
    $main.getDetailsThree();
</script>

</html>